<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Real-time Todolist app</title>

    <!-- Call Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrap.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <h1>Real-time Todolist app</h1>
        <!-- The todolist -->
        <ul id="todolist"></ul>
        <!-- The form to add task -->
        <form action="/" method="post" id="todolistForm">
            <div class="form-group">
                <label for="task">My next task?</label>
                <input type="text" class="form-control input-lg" name="task" id="task" placeholder="Your next task..." autofocus required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" id="sendTask">Submit</button>
        </form>
    </div>
</div>
<!-- Call JS files -->
<script src="http://code.jquery.com/jquery-1.12.2.min.js"></script>
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" crossorigin="anonymous"></script>
<script src="../public/js/app.js"></script>
</body>
</html>